<h1>Book Collection</h1>
<p>This is an application for the managing of a book collection list</p>
<%# <a href="/books/index"> Books </a><br/> %>
<%= link_to('Books', {controller: 'books', action:'index'}) %><br/>

<%# <%books = ['Harry Potter', 'Of Mice and Men', 'Chronicles Of Narnia']%>
